* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {
    font-family: 'Poppins', sans-serif;
    background: #000000;
    color: #ffffff;
}

body.no-scroll {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(22, 22, 22);
}

/* SECTION */

section {
    height: 800px;
    padding: 120px 10%;
}

.section-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    font-weight: 700;
    color: white;
}

/* HEADER */

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 1);
    backdrop-filter: blur(10px);
    z-index: 1000;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

nav {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
    font-weight: 600;

}

.nav-links a:hover {
    color: #38bdf8;
} 

/* HERO SECTION */

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    flex-wrap: wrap;
}

.hero-container {
    max-width: 1100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    margin: 0 auto;
}

.hero-text h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.hero-text h1 span {
    color: #38bdf8;
}

.hero-text p {
    max-width: 600px;
    color: #cbd5e1;
    margin-bottom: 2rem;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: #38bdf8;
    color: #0f172a;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s;
}

.btn:hover {
    transform: translateY(-3px);
    background: #0ea5e9;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-image img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #38bdf8;
}

/* ABOUT SECTION */

.about-text {
    max-width: 700px;
    margin: auto;
    text-align: center;
    line-height: 1.8;
    font-size: 1.05rem;
    color: #d1d5db;
}

.about-text p {
    margin-bottom: 20px;
}

/* SKILL SECTION */

.skills-container {
    max-width: 900px;
    margin: 0 auto;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
}

.skill-card-more-container {
    display: flex;
}

.skill-card {
    background: linear-gradient(135deg, #f8fafc, #e0f2fe);
    padding: 1.5rem;
    border-radius: 14px;
    border: 3px solid transparent;
    transition: all 0.3s ease;
    width: 100%;
    height: 100%;

}

.skill-card:hover {
    transform: translateY(-6px);
    border: 3px solid #38bdf8;
}

.skill-card h3 {
    margin: 0 0 0.6rem;
    font-size: 1.2rem;
    color: #0f172a;
    font-weight: 1000;
}

.skill-card p {
    margin: 0;
    font-size: 0.95rem;
    line-height: 1.6;
    color: #334155;
}
.skill-card-more {
    display: block;
    margin-top: 1rem;
    font-size: 0.85rem;
    font-weight: 1000;
    color: #38bdf8;
    transition: all 0.3s ease;
    user-select: none;
}

.skill-card-more:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.skill-card-more:active {
    transform: scale(0.85); 
}

.skill-card:hover {
    box-shadow: 0 0 12px #38bdf8;
    transition: all 0.3s ease;
}

/* SKILL POPUP */

.skill-popup {
    position: fixed;
    top: 0;
    right: -50%;
    width: 50%;
    height: 100vh;

    background: black;
    color: white;

    padding: 40px;
    z-index: 1000;
    border-left: 12px solid rgba(255,255,255,0.1);

    transition: right 0.35s ease;
    box-shadow: -10px 0 25px rgba(0,0,0,0.3);

    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: center;    
    text-align: center;
}

.skill-popup.active {
    right: 0;
}

.skill-close-popup {
    position: absolute;
    top: 20px;
    right: 20px;

    background: transparent;
    border: none;

    color: white;
    font-size: 2rem;
    font-weight: 1000;

    cursor: pointer;
}

.skill-popup h2 {
    margin-bottom: 20px;
    color: #38bdf8;
}

.skill-popup p {
    line-height: 1.8;
    color: #cbd5e1;
}

.skill-popup h3 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 1000;
}

/* PROJECT SECTION */

.projects-container {
    max-width: 900px;
    margin: 0 auto;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
}


.project-card {
    background: linear-gradient(135deg, #f8fafc, #e0f2fe);
    padding: 25px;
    border-radius: 18px;
    transition: 0.3s ease;
    border: 1px solid #1f2937;
}

.project-card:hover {
    border-color: #38bdf8;
    box-shadow: 0 0 15px rgba(56, 189, 248, 0.3);
}

.project-card h3 {
    margin-bottom: 12px;
    color: black;
    font-weight: 1000;
}

.project-card p {
    color: #334155;
    line-height: 1.6;
    margin-bottom: 18px;
}

.project-tech {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.project-tech span {
    padding: 6px 12px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 0.85rem;
    font-weight: 1000;
    color: black;
}

.project-links {
    display: flex;
    gap: 15px;
}

.project-links a {
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 0.2s ease;
}
.project-info-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
}

/* PROJECT POPUP */

.project-popup {
    position: fixed;
    top: 0;
    right: -50%;
    width: 50%;
    height: 100vh;

    background: black;
    color: white;

    padding: 40px;
    z-index: 1000;
    border-left: 12px solid rgba(255,255,255,0.1);

    transition: right 0.35s ease;
    box-shadow: -10px 0 25px rgba(0,0,0,0.3);

    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: center;    
    text-align: center;
}

.project-popup.active {
    right: 0;
}

.project-close-popup {
    position: absolute;
    top: 20px;
    right: 20px;

    background: transparent;
    border: none;

    color: white;
    font-size: 2rem;
    font-weight: 1000;

    cursor: pointer;
}

.project-popup h2 {
    margin-bottom: 20px;
    color: #38bdf8;
}

.project-popup p {
    line-height: 1.8;
    color: #cbd5e1;
}

.video-container video {
    width: 100%;
    max-width: 900px;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.popup-image {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    margin: 10px 0 20px;
}

.popup-image-h1 {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    margin: 10px 0 20px;
}

.popup-image-h2 {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    margin: 10px 0 20px;
}

.popup-image-h3 {
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
    margin: 10px 0 20px;
}

.project-popup h3 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 1000;
}

.project-popup p {
    margin-bottom: 30px;
    line-height: 1.6;
}

.mob-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.mob-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.mob-card img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    transition: transform 0.2s ease;
}

.mob-card img:hover {
    transform: scale(1.1);
}

.mob-card span {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.code-block {
    margin-top: 15px;
    text-align: center;
}

.code-block img {
    width: 100%;
    max-width: 650px;
    border-radius: 10px;
}

.code-description {
    margin-top: 15px;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.85);
    font-size: 14px;
}

.code-description p {
    margin-bottom: 10px;
}
.code-description a {
    color: white;
    text-decoration: none;
}

.weapon-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.weapon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.weapon-card img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    transition: transform 0.2s ease;
}

.weapon-card img:hover {
    transform: scale(1.1);
}

.weapon-card span {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 600;
    color: white;
}

/* ICON */

.icon {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}

.icon:hover {
    transform: scale(1.1);
}

.icon:active {
    transform: scale(0.95);
}

.github {
    margin-left: auto;   
}

.github-icon {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    transition: 0.2s ease;

}

.github-icon:hover {
    transform: translateY(-2px) scale(1.1);
}

.github-icon:active {
    transform: scale(0.95);
}

/* CONTACT SECTION */

.contact-bottom {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 20px;
}

.social-icon img {
    border: 4px solid rgb(255, 255, 255);
    border-radius: 25%;
    width: 60px;
    height: 60px;
    transition: 0.3s;
    background-color: white;
}

.social-icon img:hover {
    transform: translateY(-5px) scale(1.1);
}